$backgroundColor: #e5eef3;
$buttonColor: #b63535;
$buttonColor2: #D3D3D3;
$textColor: #fff;
$hoverColor: #fff;
$telegram: #27A7E7;
$viber: #7360F2;
$whatsapp: #28D146;

a {
    color: $textColor;
    font-size: 28px;
}

.share {
    width: 300px;
    text-align: center;
    color: $textColor;
    font-size: 18px;
    //left: 50%;
    //margin-left: -200px;
    //top: 50%;
    //margin-top: -40px;
    border-radius: 50%;
    position: relative;

    span {
        width: 300px;
        line-height: 60px;
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        //left: 50%;
        margin-left: -150px;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        pointer-events: none;
    }

    nav {
        font-size: 0;
    }

    a {
        line-height: 60px;
        width: 60px;
        text-align: center;
        display: inline-block;
        background-color: $buttonColor;
        color: $buttonColor;
        overflow: hidden;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        margin: 0 -1px;
        box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);

        &:nth-child(1) {
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
            margin-left: 0;

            &:hover {
                background-color: $telegram;
            }
        }

        &:nth-child(2):hover {
            background-color: $viber;
        }

        &:nth-child(3) {
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            margin-right: 0;

            &:hover {
                background-color: $whatsapp;
            }
        }
    }

    &:hover,
    &.hover {
        span {
            opacity: 0;
        }

        a {
            border-radius: 50%;
            margin: 0 10px;
            color: $textColor;
            font-size: 28px;

            &:hover {
                color: $hoverColor;
            }
        }
    }
}