@import 'reset';
@import 'common';
@import 'preloader';
@import 'form';
@import 'dropdown';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.header {
    background-color: #E7F9FF;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 0;

        .logo__wrapped {
            display: flex;
            align-items: center;

            &:hover {
                transform: scale(1.05);
                transition: all .3s ease-in-out;
                cursor: pointer;
            }

            img {
                width: 140px;
                height: 125px;
            }

            .logo-text {
                margin-left: 15px;
                font-size: 42px;
                font-weight: 700;
                color: #54595F;

                &:hover {
                    color: #3f4347;
                    transition: all .3s ease-in-out;
                }
            }
        }

        .main-nav {
            &-items {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            }

            &-item {
                margin: 0 5px;

                &:hover {
                    transform: scale(1.05);
                    transition: all .3s ease;
                    cursor: pointer;
                }
            }

            &-link {
                padding: 0 10px;
                font-size: 18px;
                color: #54595F;

                .fa-viber {
                    color: #7360F2;
                }

                .fa-whatsapp {
                    color: #25D366;
                }

                .fa-telegram {
                    color: #2AABEE;
                }
            }
        }

        // .button-wrapper {
        //     position: relative;
        // }
    }
}

//MAIN SECTION (1)
.main-section {
    position: relative;

    #wave {
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
    }

    .parallax-window {
        min-height: 90vh;
        background: transparent;
    }


    &__wrapper {
        width: 100%;
        min-height: 90vh;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, .5);
    }

    .content {
        &__wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        &-left {
            width: 48%;
            padding: 10px;
            margin-right: 3%;

            h1 {
                color: #ffffff;
                font-size: 48px;
                font-weight: 700;
                line-height: 1em;
                letter-spacing: -0.5px;
                text-align: center;
            }
        }

        &-right {
            width: 48%;
            padding: 10px;

            h2 {
                color: #ffffff;
                font-size: 48px;
                font-weight: 600;
                line-height: 1.1666em;
                letter-spacing: 0px;
                text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
            }

            p {
                color: #ffffff;
                font-size: 20px;
                font-weight: 300;
                line-height: 1.4em;
                letter-spacing: 0.15px;
                margin: 15px 0;
            }

            .success {
                margin-top: 15px;
                color: black;
                font-size: 16px;
                display: none;
            }

            .success.opened {
                display: block;
            }
        }
    }
}

//About section (2)
.about {

    &__wrapper {
        background-color: #E7F9FF;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 50px 0;
    }

    .content {
        &__wrapper {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }

        &-left {
            flex: 50%;
            padding: 20px;

            h2 {
                color: #305595;
                font-size: 24px;
                font-weight: 500;
                line-height: 1.617em;
                letter-spacing: 0.15px;
            }

            h3 {
                color: #b63535;
                font-size: 34px;
                font-weight: 700;
                text-transform: capitalize;
                line-height: 1.176em;
                letter-spacing: -0.5px;
                margin-top: 10px;
            }

            .elements {
                display: flex;

                p {
                    padding: 10px;
                    line-height: 1.5;
                    margin: 0 0 1em 0;
                    color: #54595F;
                    font-weight: 700;
                    font-size: 18px;
                    width: auto;
                }
            }

            p {
                color: #54595F;
                line-height: 1.5;
                margin: 0 0 1em 0;
                font-weight: 400;
                font-size: 16px;
            }

            .buttons__wrapper {
                display: flex;
                justify-content: space-around;
                width: 100%;

                .btn__wrapped {
                    margin: 0 10px;
                }
            }
        }

        &-right {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex: 50%;

            .img__wrapper {
                padding: 3px;
                flex: 50%;

                &:hover {
                    overflow: hidden;
                    border-radius: 5px;

                    img {
                        backface-visibility: hidden;
                        transition: transform 0.3s ease-in-out;
                    }
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    max-width: 350px;
                    max-height: 350px;
                    border-radius: 5px;

                    &:hover {
                        transform: scale(1.05);
                        transition: all .3s ease-in-out;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

//How can i help section (3)
.help {
    position: relative;

    #wave2 {
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
    }

    #wave3 {
        position: absolute;
        left: 0;
        top: -2px;
        width: 100%;
    }

    .parallax-window {
        min-height: 100vh;
        background: transparent;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 50px 0;
        min-height: 100vh;
        background: rgba(255, 255, 255, 0.75);
    }

    .content {
        &__wrapper {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            //flex-wrap: wrap;
        }

        &-left {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex: 50%;

            .img__wrapper {
                padding: 3px;
                flex: 50%;

                &:hover {
                    overflow: hidden;
                    border-radius: 5px;

                    img {
                        backface-visibility: hidden;
                        transition: transform 0.3s ease-in-out;
                    }
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    max-width: 350px;
                    max-height: 350px;
                    border-radius: 5px;


                    &:hover {
                        transform: scale(1.05);
                        transition: all .5s ease-in-out;
                        cursor: pointer;
                    }
                }
            }
        }

        &-right {
            padding: 50px;
            flex: 50%;


            h2 {
                color: #305595;
                font-size: 24px;
                font-weight: 500;
                line-height: 1.617em;
                letter-spacing: 0.15px;
            }

            h3 {
                color: #b63535;
                font-size: 34px;
                font-weight: 700;
                line-height: 1.176em;
                letter-spacing: -0.5px;
                margin-top: 10px;
            }

            p {
                line-height: 1.5;
                margin: 0 0 1em 0;
                color: #54595F;
                font-weight: 700;
                font-size: 18px;
                margin-top: 10px;
            }

            .btn__wrapped {
                margin: 30px 0 10px 0;
            }
        }
    }
}

//Skills section (4)
.skills {
    &__wrapper {
        width: 100%;
        background-color: #E7F9FF;
        padding: 50px 0;

        .content {
            &__wrapper {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                .element {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: 30%;
                    margin: 1.5%;

                    i {
                        font-size: 30px;
                        color: #b63535;
                    }

                    h3 {
                        font-size: 20px;
                        font-weight: 600;
                        color: #333639;
                        margin: 10px 0;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.6em;
                    }
                }
            }
        }
    }
}

//Certificates section (5)
.certificate {
    position: relative;

    #wave4 {
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
    }

    .parallax-window {
        min-height: 90vh;
        background: transparent;
    }

    &__wrapper {
        width: 100%;
        padding: 50px 0;
        min-height: 90vh;
        background: rgba(255, 255, 255, 0.9);

        .content {
            &__wrapper {
                width: 100%;

                p {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 1.617em;
                    letter-spacing: 0.15px;
                    text-align: center;
                    color: #305595;
                    margin: 5px 0;
                }

                h2 {
                    font-size: 34px;
                    font-weight: 700;
                    line-height: 1.176em;
                    letter-spacing: -0.5px;
                    text-align: center;
                    color: #305595;
                    margin: 10px 0 30px 0;
                }

                .certificate--img__wrapped {
                    max-width: 1100px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    .img__wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30%;
                        padding: 15px 0;

                        img {
                            width: 300px;
                            height: 100%;

                            &:hover {
                                transform: scale(2);
                                transition: all .5s ease-in-out;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}


//Reviews section (6)
.review {

    &__wrapper {
        width: 100%;
        padding: 100px 0;
        background-color: #E7F9FF;

        h2 {
            font-size: 34px;
            font-weight: 700;
            line-height: 1.176em;
            letter-spacing: -0.5px;
            text-align: center;
            color: #305595;
            margin-bottom: 30px;
        }

        .content__wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .element {
                width: 30%;
                margin: 1%;

                &:nth-child(2) {
                    border-left: 1px solid rgba(0, 0, 0, .3);
                    border-right: 1px solid rgba(0, 0, 0, .3);
                }

                .text {
                    font-size: 16px;
                    font-weight: 400;
                    font-style: italic;
                    line-height: 1.617em;
                    letter-spacing: 0.15px;
                    color: #54595F;
                    text-align: center;
                    padding: 30px;
                }

                .person {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .photo {
                        width: 70px;
                        height: 70px;
                        margin-right: 15px;
                        border-radius: 50%;
                    }

                    &--txt {
                        .name {
                            color: #54595F;
                            font-size: 24px;
                            font-weight: 600;
                        }

                        .city {
                            color: #54595F;
                            font-size: 18px;
                            font-weight: 400;
                            margin-top: 100px;
                        }
                    }
                }
            }
        }
    }
}

//Order section (7)
.order {
    position: relative;

    #wave5 {
        position: absolute;
        left: 0;
        top: -2px;
        width: 100%;
    }

    .parallax-window {
        min-height: 70vh;
        background: transparent;
    }

    &__wrapper {
        padding: 100px 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);

        .content__wrapper {

            h2 {
                color: #ffffff;
                font-size: 48px;
                font-weight: 700;
                line-height: 1.16em;
                text-align: center;
            }

            .result--txt {
                color: #ffffff;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.5em;
                letter-spacing: 0.15px;
                text-align: center;
                margin: 20px 0 50px 0;
            }
        }

        .phone {
            &-items {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
            }

            &-item {
                &:hover {
                    transform: scale(1.05);
                    transition: all .3s ease-in-out;
                    cursor: pointer;
                }
            }

            &-link {
                color: #ffffff;
                font-size: 24px;
                font-weight: 400;

                i {
                    margin-right: 5px;
                }

                .fa-viber {
                    color: #7360F2;
                }

                .fa-whatsapp {
                    color: #25D366;
                }

                .fa-telegram {
                    color: #2AABEE;
                }
            }
        }

        .order__wrapped {
            text-align: center;
            margin: 30px 0 50px 0;
        }

        p {
            color: #ffffff;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5em;
            letter-spacing: 0.15px;
            text-align: center;
            margin-top: 20px;
        }
    }
}

@import 'media';